@model PhotoServer.Domain.Race

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ReferenceTime)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ReferenceTime)
    @Html.ValidationMessageFor(model => model.ReferenceTime)
</div>

<div class="editor-label">
    Event
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.EventId, ((IEnumerable<PhotoServer.Domain.Event>)ViewBag.PossibleEvents).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.EventId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.EventId)
</div>
<div class="editor-label">
    Distance
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.DistanceId, ((IEnumerable<PhotoServer.Domain.Distance>)ViewBag.PossibleDistances).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.DistanceId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.DistanceId)
</div>
