@model PhotoServer.Domain.Photographer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Photographer</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Initials</div>
    <div class="display-field">@Model.Initials</div>

    <div class="display-label">PhoneNumber</div>
    <div class="display-field">@Model.PhoneNumber</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


